.App{
    text-align: center;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-container, .question-container{
    width: 80%;
    padding: 3vh;
    margin: 3vh;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    border-radius: 3vh;
}